:root {
  --primary-color: rgba(19, 17, 29, 0.932);
  --secondary-color: #000;
  --tertiary-color: rgba(255, 255, 255, 0.705);
  --mode: dark;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--tertiary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
